<h1>Welcome Back, <%= @user.name %> !</h1>

<div>
  <strong>Name</strong>:<br />
  <p><%= @user.name %></p>
</div>
<div>
  <strong>Email</strong>:<br />
  <p><%= @user.email %></p>
</div>

<a href="/users/<%= @user.id %>/edit">Edit</a> |
<a href="/users/<%= @user.id %>/destroy">Destroy</a>
<p>
<a href="/users">Show All Users</a> |
<a href="/users/<%= @user.id %>/bookmarks">My Bookmarks</a> |
